{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>HANGMAN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'hangman/styles.css' %}" rel="stylesheet">
        <script src="{% static 'hangman/functions.js' %}"></script>
        <link rel="icon" type="image/icon type" href="{% static 'hangman/favicon.png' %}">
    </head>
    <body>
        <div id="night_mode">night mode</div>
        <div id="main">
            <label class="switch">   
                <input id="night" type="checkbox" style="margin-top: 15px;">
                <span class="slider round"></span>
            </label>
        <div id="title">
        <a href="{% url 'index' %}"><pre>{{ title }}</pre></a>
        </div>
        <div id="stats">
            <div id="games_stat"></div>
            <div id="animals_stat"></div>
            <div id="countries_stat"></div>
            <div id="fruits_stat"></div>
            <div id="vegetables_stat"></div>
        </div>

        </div>
    </div>

    




    <div id="menu">
        <div id="categories">
            <pre id="choose">{{ choose }}</pre>
            <a data-id="animals" id="category" href="#"><pre class="growable">{{ animals }}</pre></a>
            <a data-id="countries" id="category" href="#"><pre class="growable">{{ countries }}</pre></a>
            <a data-id="fruits" id="category" href="#"><pre class="growable">{{ fruits }}</pre></a>
            <a data-id="vegetables" id="category" href="#"><pre class="growable"> {{ vegetables }}</pre></a>
        </div>

        <div id="guess_form">
            <form id="check">
            <input name="guess" autocomplete="off" id="guess" type="text" placeholder="Guess a letter or full password">
            </form>
            <div id="blanks"></div> <br><div id="chosen_category"></div><br>
            <div id="message"></div>
            <div id="new_game"><a id="new_game_button" href="#">Start a new game?</a></div>
            <div id="input_main"><br>You already tried: <div id="input"></div></div>
        </div>

        <div id="hangman">
           <pre id="hangman_ascii"></pre>
        </div>
    </div>
</html>

